.custom-navbar {
    background-color: #CC7722; /* amarelo ocre */
}

.custom-navbar .nav-link {
    margin-left: 20px; 
    color: white !important;
}

.custom-navbar .nav-link:hover {
    color: #ffd280 !important; 
}